h1 {
    color: rgb(131, 37, 255);
}

#titulo-1 {
    color: red;
}

#titulo-2 {
    color: rgb(0, 255, 255);
}

#titulo-3 {
    color: rgb(255, 94, 234)
}

body{
    background-color: grey;
}
body{
    background: #000000;
}
h2{
color: #ffffff;
}
p{
 COLOR:  #ffffff;
}